@import "src/styles/variables/colors";

.AuthBox{
  background: $grey linear-gradient(180deg, $grey 0%, $dark-grey 100%);
  width: 24rem;
}
@media (max-width: 500px) {
  .AuthBox{
    width: 15rem;
  }
}