@import "src/styles/variables/colors";

.WalletDropdown{
  position: absolute;
  top: 120px;
  right: 0;
  background-color: $grey;
  border-radius:30px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  >div{
    display: flex;
    align-items: center;
    margin: 10px 0;
  }
}