@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jua&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

@mixin montserrat{
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;
}
@mixin jua{
  font-family: "Jua", sans-serif;
  font-weight: 400;
  font-style: normal;
}