@import "styles/variables/colors";

@tailwind base;
@tailwind components;
@tailwind utilities;
:root {
  --primary-color: $yellow;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background-color: $dark-grey;
  color: #fff;
}

.App {
  height: 100vh;
  display: flex;
  .cont{
    background-color: $dark-grey;
  }
  .sider {
    background-color: $grey;
    background: linear-gradient(180deg, $grey 0%, $dark-grey 100%);
    overflow: auto;
    height: 100vh;
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
  }

  .not-sider {
    background-color: $dark-grey;
    margin-left: 320px;
    transition: .1s ease-in-out;
  }


  .header {
    background: $grey;
    margin: 20px;
    border-radius: 60px;
    padding: 20px 0;
  }

  .content {
    background: $dark-grey;
  }
}
@media (max-width:767px) {
  .App{
    .not-sider{
      margin-left: 60px;
    }
  }
}